* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

.isActive {
  color: red;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 3em;
}

.cart {
  font-size: 3em;
}

.cart:active {
  color: red;
}

.cart:hover {
  cursor: pointer;
}

button {
  font-size: 1em;
  padding: 1em;
}

.show-cart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(138, 138, 138);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
